*{
	margin: 0;
    padding: 0;
}
/*TO LIGHTEN ANY ELEMENT WHEN HOVERED OVER IT*/
.Light:hover{
	opacity: 60%;
}

/*HEADING 1 MY NAME*/
.head {
	/*color: #85b54a;*/
	color: #3fe0d0;
	opacity: 0.7;
	text-align:center;
	/*padding-right: 32%;*/
	font-family: Cabin, serif, sans-serif;
	text-shadow: 2px 2px black;
	margin-top: 1%;
	/*margin-right: 31%;*/
}

/*PARAGRAPH WITH A SMALL INTRODUCTION*/
.bio {
	background:rgba(50, 50, 50, 0.3);
	text-align:center;
	border-left: 3px solid skyblue;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

/*CLASS FOR TEXT STYLING IN THE PARAGRAPH*/
.customtext {
	color:white;
	font-family: georgia, serif, sans-serif;
	font-style: italic;
	font-size: 2em;
	text-shadow: 2px 2px black;
	max-width: 800px;
}

.start{
	color:white;
	font-family: georgia, serif, sans-serif;
	font-style: italic;
	font-size: 2em;
	background-color: black;
    text-align: center;
}

.project{
	color:white;
	font-family: georgia, serif, sans-serif;
	font-style: italic;
	font-size: 2em;
	background-color: #40A19E;
    text-align: center;
}

.contact{
	color:white;
	font-family: georgia, serif, sans-serif;
	font-style: italic;
	font-size: 2em;
	background-color: black;
    text-align: center;
}

/*For the Icon List*/
#mediaList{
	position: sticky;
	top: 1.5%;
}

/*for the Icons*/
.media{
	display: inline;
	float: right;
	padding-right: 4px;
}

/*For the Front Image*/
#Front{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	border-radius: 40%;
  	border: 2px solid #ffffff;
  	max-width: 20%;
  	margin-top: 11%;
}

/*For the small animation in the front*/
@keyframes anim{
	0%{
		box-shadow: 0 0 0 0px rgba(34, 94, 164, 0.2);
	}
	20%{
		box-shadow: 0 0 0 20px rgba(34, 94, 164, 0.2);
	}
	40%{
		box-shadow: 0 0 0 20px rgba(34, 94, 164, 0.2),
					0 0 0 40px rgba(34, 94, 164, 0.2);
	}
	60%{
		box-shadow: 0 0 0 10px rgba(34, 94, 164, 0.2),
					0 0 0 50px rgba(34, 94, 164, 0.2),
					0 0 0 30px rgba(34, 94, 164, 0.2);
	}
	80%{
		box-shadow: 0 0 0 0px rgba(34, 94, 164, 0.2),
					0 0 0 40px rgba(34, 94, 164, 0.2),
					0 0 0 50px rgba(34, 94, 164, 0.2),
					0 0 0 80px rgba(34, 94, 164, 0.2);
	}
	100%{
		box-shadow: 0 0 0 20px rgba(34, 94, 164, 0.2),
					0 0 0 40px rgba(34, 94, 164, 0.2),
					0 0 0 60px rgba(34, 94, 164, 0.2),
					0 0 0 90px rgba(34, 94, 164, 0.2),
					0 0 0 110px rgba(34, 94, 164, 0.2);
	}
}

/*For the front Page animation*/
.box{
	cursor: pointer;
	position: relative;
	top: 170px;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	animation: anim 3s infinite linear;
}

</style>